.full-height {
  height: 100%;
}
.flex-around {
  justify-content: space-around;
}
.flex-container {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-stretch {
  flex-grow: 1;
}
.flex-end {
  align-items: flex-end;
}
.wrapper {
  max-width: 225px;
}

.main {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
}
.secondary {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  opacity: 0.5;
}
.smoke-bg {
  background: #f7f7f7;
  .rate-in {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .value {
    font-size: 20px;
    line-height: 1;
  }
}
.driver-photo {
  justify-content: center;
  display: flex;
  ion-icon {
    width: 50px;
    height: 50px;
    color: white;
    margin-top: 36px;
    position: absolute;
  }
  ion-avatar {
    width: 100px;
    height: 100px;
    margin: 12px;
  }

  ion-avatar::after {
    height: 100px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    border-radius: 50%;
    content: '';
  }

  ion-avatar.success::after {
    background: rgba(106, 226, 166, 0.9);
  }
  ion-avatar.error::after {
    background: rgba(232, 92, 92, 0.9);
  }
}
