<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Drivers in Athens</ion-title>

  </ion-toolbar>

  <ion-toolbar class="searchbar-bg">
    <ion-searchbar (ionChange)="search($event)" animated #searchbar></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-list-header *ngIf="recentDriverList.length">
      <ion-label>Previously selected</ion-label>
    </ion-list-header>
    <ion-item (click)="goToResultPage(1)" *ngFor="let driver of recentDriverList">
      <ion-avatar class="success" slot="start">
        <img [src]="driver.photo">
      </ion-avatar>
      <ion-label>{{driver.fullName}}</ion-label>
    </ion-item>

    <ion-list-header *ngIf="possibleDriverList.length">
      <ion-label>Suitable for assignment</ion-label>
    </ion-list-header>
    <ion-item (click)="goToResultPage(0)" *ngFor="let driver of possibleDriverList">
      <ion-avatar slot="start">
        <img [src]="driver.photo">
      </ion-avatar>
      <ion-label>{{driver.fullName}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
