<ion-header>
  <ion-toolbar>
    <ion-title>
      Transfer #542-1
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable [(ngModel)]="segment" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button mode="md" value="transfer">
      <ion-label>Transfer</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="traveler">
      <ion-label>Traveler</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="property">
      <ion-label>Property</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="products">
      <ion-label>Products</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding-horizontal>

  <section *ngIf="segment=='transfer'">

    <div class="title-block">
      <ion-icon class="no-stroke" src="./assets/svg/transfer.svg"></ion-icon>
      <ion-text class="title">
        Transfer
      </ion-text>
    </div>

    <ion-card class="transfer" no-margin margin-bottom>
      <ion-card-content no-padding>
        <ion-grid no-padding>
          <div class="flex-row">
            <div padding class="flex-col date-container border-right" text-center size="4">
              <div margin-bottom class="date medium-text">Mon 17 2018</div>
              <div text-center>
                <ion-label class="time medium-text">16:00</ion-label>
              </div>
              <div margin-top class="flex-row options medium-text">
                <ion-icon src="./assets/svg/bag.svg"></ion-icon>
                <ion-label>2</ion-label>

                <ion-icon src="./assets/svg/person.svg"></ion-icon>
                <ion-label>2</ion-label>

                <ion-icon src="./assets/svg/baby.svg"></ion-icon>
                <ion-label>1</ion-label>
              </div>
            </div>
            <div class="flex-col vertical-line"></div>
            <div padding class="flex-col">
              <div class="flex-row" margin-bottom>
                <p class="direction light-text">From</p>
                <div class="address medium-text">Athens Airport, Koropi 10205</div>
              </div>
              <div class="flex-row">
                <p class="direction light-text">To</p>
                <div class="address medium-text">Helectra Hotel Athens, Vouliagmeni 17561</div>
              </div>
            </div>
          </div>
          <ion-row padding class="border-top" align-items-center>
            <ion-col no-padding class="bottom-row">

              <div class="travel-details">
                EASYJET 5088
                <br/>
                <span>from London</span>
              </div>

              <div class="status delayed">Delayed</div>

              <div class="travel-details">
                Expected
                <br/>
                <span>17:05</span>
              </div>

              <div class="status check">Check</div>

            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <div class="title-block">
      <ion-icon class="no-stroke" src="./assets/svg/traveler.svg"></ion-icon>
      <ion-text class="title">
        Traveler
      </ion-text>
    </div>


    <ion-card class="traveler" no-margin margin-bottom>
      <ion-card-content no-padding>
        <ion-grid no-padding>
          <ion-row align-items-center>
            <ion-col class="col-avatar" size="auto">
              <ion-avatar>
                <img src="./assets/photos/francisca.jpg">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-label class="fullname">Francisca Ramirez</ion-label>
            </ion-col>
            <ion-col size="auto" text-right>
              <p class="phone">+1 621 1738292</p>
              <p class="country">United States</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="table-title border-right">In Greece Until</ion-col>
            <ion-col class="answer">18 Nov</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="table-title border-right">Times in Athens</ion-col>
            <ion-col class="answer">This is the first</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="table-title border-right">Traveling for</ion-col>
            <ion-col class="answer">Leisure</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="table-title border-right">Visits</ion-col>
            <ion-col class="answer">Athens & Santorini</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="table-title border-right">Note</ion-col>
            <ion-col class="answer">I am visiting for a Weeding</ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

    <ion-button mode="md" class="block-button" fill="outline" color="medium" (click)="presentActionSheet()" expand="block">
      Remove from my schedule
    </ion-button>

  </section>
</ion-content>
