<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Remove transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container" text-center>

    <div class="flex-row">
      <p>Please find and contact another Welcome driver that is ready to accept this transfer</p>

      <p><ion-icon icon="help"></ion-icon>Removal policy</p>
    </div>


    <div class="flex-row">
      <ion-button expand="block" class="block-button" (click)="findReplacement()">Select replacement driver</ion-button>

      <ion-button mode="md" expand="block" class="block-button" fill="outline" color="danger">I didn't find a replacement</ion-button>

      <ion-text color="danger">
        You will get a red flag and €10 will be deducted from your next payment
      </ion-text>
    </div>

  </div>



</ion-content>
