.full-height {
  height: 100%;
}
.flex-center {
  justify-content: center;
}
.flex-container {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-stretch {
  flex-grow: 1;
}
.flex-end {
  align-items: flex-end;
}
.description {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.38;
}
.btn-info {
  //opacity: 0.5;
  text-transform: none;
  font-size: 14px;
  line-height: 1.43;
  ion-icon {
    width: 18px;
    height: 18px;
    margin-right: 7px;
  }
}
